[Desktop Entry]
Name=dnd3
GenericName=dnd3
Comment=Block-based multiplayer game platform
Comment[de]=Blockbasierte Mehrspieler-Spieleplattform
Comment[fr]=Plate-forme de jeu multijoueurs à base de blocs
Exec=dnd3
Icon=dnd3
Terminal=false
# Note: don't add PrefersNonDefaultGPU here, see #16095
Type=Application
Categories=Game;Simulation;
StartupNotify=false
StartupWMClass=dnd3
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;dnd3;
X-Purism-FormFactor=Mobile;Workstation
